.heading{
    color: darkmagenta;
}
.heading2{
    color: darkmagenta;
}
.heading3{
    color: darkmagenta;
}
.heading4{
    color: darkmagenta;
}
nav {
    background-color: bisque;
    border-color:  blue;
}
    
